.container {
  display: flex;
  position: relative;
  min-width: 100vh;
}

.main-content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.upper-container {
  background-color: #1f1c1ce3;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 10vh;
  justify-content: space-between;
  font-size: 28px;
  font-weight: bold;
  color: white;
}

.container button {
  margin-top: 10px;
  background-color: #a05eb6;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
  font-size: 15px;
  height: 40px;
}

.container button:hover {
  background-color: #bf85c7;
}
#first-button-uppercontainer {
  background-color: rgb(130, 99, 208);
  color: white;
  border-radius: 20px;
  margin-right: 10px;
}

#button-uppercontainer {
  background-color: rgb(130, 99, 208);
  color: white;
  border-radius: 20px;
  margin-right: 10px;
}
#button-uppercontainer:hover {
  background-color: rgb(149, 125, 208);
}
#first-button-uppercontainer:hover {
  background-color: rgb(149, 125, 208);
}
#button-hide-sidebar {
  color: rgb(218, 207, 207);
  font-size: 16px;
  background-color: #3a3535e3;
  margin-left: 2vh;
  align-content: flex-start;
  color: grey;
  position: absolute;
  top: 90vh;
}
#button-container {
  display: flex;
  gap: 10px;
}
