/* YourComponent.css */

/* Container for the entire layout */
.container {
  display: flex;
  /* 100% viewport height */
  position: relative; /* Create a positioning context */
}

/* Left sidebar */
.left-sidebar {
  min-width: 20%; /* 20% of the container's width */
  background-color: #1f1c1ce3;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

/* Title */
.title {
  font-weight: bold;
  margin-bottom: 10px;
  color: white;
  font-size: 32px;
}

/* Buttons */

.buttons {
  display: flex;
  flex-direction: column;
}

/* Main content area (with or without left sidebar) */

.main-content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

/* Upper container */
.upper-container {
  background-color: #1f1c1ce3;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 10vh;
  justify-content: space-between;
  font-size: 28px;
  font-weight: bold;
  color: white;
}

.middle-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 35px 1fr;
  height: 90vh;
}

/* Individual columns within the middle container */
.column {
  background-color: #100f0fea; /* Example background color */
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  color: lightgrey;
  font-size: 13px;
  font-weight: bold;
  /* Additional styling for the labels */
}
.right-sidebar {
  background-color: #100f0fea; /* Example background color */
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  /* Additional styling for the labels */
}

/* Optional: Style for the "Remove Left Sidebar" button */
.container button {
  margin-top: 10px;
  background-color: #a05eb6; /* Example button color */
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

.container button:hover {
  background-color: #bf85c7; /* Example button color on hover */
}
.create-panel {
  display: none;
  position: absolute;
  top: 20vh;
  left: 75vh;
  width: 30%; /* Adjust the width as needed */
  height: 50%; /* Cover the entire height of the container */
  background-color: rgba(
    113,
    112,
    121,
    0.992
  ); /* Semi-transparent background for the panel */
  z-index: 1; /* Make the panel appear in front of other elements */
}
.create-panel.show {
  display: block;
  position: absolute;
  top: 20vh;
  left: 75vh;
  width: 30%; /* Adjust the width as needed */
  height: 50%; /* Cover the entire height of the container */
  background-color: rgba(
    113,
    112,
    121,
    0.992
  ); /* Semi-transparent background for the panel */
  z-index: 1; /* Make the panel appear in front of other elements */
}
