.label-button {
  user-select: none;
  cursor: pointer;
  height: 50px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: rgb(130, 99, 208);
  font-weight: bold;
  color: white;
  margin-top: 20px;
  display: flex;
  align-items: center;
  padding-left: 35px;
  font-size: 17px;
}
.label-button:hover {
  background-color: rgb(149, 125, 208);
}
