.upper-container-dark {
  background-color: #1f1c1ce3;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 10vh;
  justify-content: space-between;
  font-size: 28px;
  font-weight: bold;
  color: #ffffff;
}
#background-menu-dark {
  background-color: #3f3939e3;
}
.upper-container-light {
  background-color: white;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 10vh;
  justify-content: space-between;
  font-size: 28px;
  font-weight: bold;
  color: black;
}
#first-button-uppercontainer {
  background-color: rgb(130, 99, 208);
  color: white;
  border-radius: 20px;
  margin-right: 10px;
}

#button-uppercontainer {
  background-color: rgb(130, 99, 208);
  color: white;
  border-radius: 20px;
  margin-right: 10px;
}
#button-uppercontainer:hover {
  background-color: rgb(149, 125, 208);
}
#first-button-uppercontainer:hover {
  background-color: rgb(149, 125, 208);
}
