.titleStyle-adjust {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
  color: rgb(154, 150, 150);
  display: flex;
  justify-content: center;
}
.amend-panel {
  display: none;
  position: absolute;
}
.amend-panel.show {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 40%;
  left: 50%;
  width: 20%;
  min-width: 350px; /* Adjust the width as needed */
  transform: translate(-50%, -50%);
  color: white;
  border-radius: 10px;
  padding: 35px;
  background-color: rgb(71, 69, 69);
  z-index: 1;
}

.descriptionStyle {
  font-size: 13px;
  color: lightgray;
  margin-bottom: 30px;
}
.countStyle {
  font-weight: bold;
}
.checkboxStyle {
  background-color: rgb(44, 44, 44);
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.form-header-adjust {
  font-size: 20px;
}
.button-delete-subtask-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#button-delete-subtask {
  /* You can style the button as needed */
  background-color: rgb(130, 99, 208);
  color: white;
  border: none;
  padding: 5px 10px;
  width: 22%;
  border-radius: 20px;
  margin-right: 2vh;
  height: 30px;
  min-width: 70px;
}

#button-delete-subtask:hover {
  background: rgb(193, 108, 108);
  color: black;
}
.button-delete-subtask-container span {
  flex: 1; /* This will make the span take up the available space and push the button to the right */
  margin-right: 10px; /* Adjust the margin as needed to create space between the text and button */
}
#button-delete-task {
  /* You can style the button as needed */
  color: rgb(130, 99, 208);
  background-color: white;
  width: 96%;
  border-radius: 20px;
}
#button-delete-task:hover {
  background: rgb(193, 108, 108);
  color: black;
}
#button-update-task {
  background-color: rgb(130, 99, 208);
  color: white;
  width: 96%;
  border-radius: 20px;
}
#button-add-subtask {
  color: rgb(130, 99, 208);
  background-color: white;
  width: 96%;
  border-radius: 20px;
}
#button-add-subtask:hover {
  background-color: rgb(238, 232, 232);
}
#button-update-task:hover {
  background-color: rgb(149, 125, 208);
}
#button-delete-board {
  background-color: rgb(130, 99, 208);
  color: white;
  width: 96%;
  border-radius: 20px;
}
#button-delete-board:hover {
  background: rgb(193, 108, 108);
  color: black;
}
#goback-button {
  color: rgb(251, 247, 247);
  background-color: rgb(128, 121, 121);
  width: 96%;
  border-radius: 20px;
  margin-top: 20px;
}
